@page "/Cadet"
@layout Layout.BlankLayout 
<section class="badge-page">
    <header class="badge-header star-header">
        <img src="images/Logos/Cadet F.png" alt="Star Girl Scout Logo" class="badge-logo" />
        <div>
            <h1>Cadet Girl Scout Badges</h1>
            <p class="level-description">
                Cadet Girl Scouts strengthen their skills in community service, responsibility, and global awareness.
            </p>
        </div>
    </header>

    <section class="promise-law">
        <h2>Scout Promise</h2>
        <p>
            On my honor, I will do my duty <br />
            To God and my country <br />
            To help other people at all times <br />
            And to live by the Girl Scout Promise and Law.
        </p>

        <h2>Scout Law</h2>
        <p>1. A Girl Scout’s honor is to be trusted.</p>
        <p>2. A Girl Scout is loyal.</p>
        <p>3. A Girl Scout is helpful.</p>
        <p>4. A Girl Scout is a friend to all and a sister to every other Girl Scout.</p>
        <p>5. A Girl Scout is courteous.</p>
        <p>6. A Girl Scout respects living things.</p>
        <p>7. A Girl Scout is disciplined.</p>
        <p>8. A Girl Scout is self-reliant.</p>
        <p>9. A Girl Scout is thrifty.</p>
        <p>10. A Girl Scout is clean in thought word and deed.</p>
    </section>

    <section class="badges-grid">
        <h2>Badge Showcase</h2>
        <h3>Challenge of Preparedness</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/cadet/emergency preparedness.png" />
                <h3>Emergency Preparedness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/lifesaver.png" />
                <h3>Lifesaver Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/create an escape plan.png" />
                <h3>Create an Escape Plan Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/personal disaster preparedness.png" />
                <h3>Personal Disaster Preparedness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/better safe than sick.png" />
                <h3>Better Safe than Sick Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/earthquake preparedness.png" />
                <h3>Earthquake Preparedness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/teach others to be safe.png" />
                <h3>Teach Other to be Safe Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/community action.png" />
                <h3>Community Action Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/disaster management.png" />
                <h3>Disaster Management Badge</h3>
            </div>
        </div>
    </section>
    <section class="badges-grid">
        <h3>Challenge of Heritage and Citizenship</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/cadet/heritage sites.png" />
                <h3>Heritage Sites Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/online heritage site.png" />
                <h3>Online Heritage Site Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/filipinas heritage library.png" />
                <h3>Filipinas Heritage Library Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/national symbolss.png" />
                <h3>National Symbols Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/filipino traditional holidays.png" />
                <h3>Filipino Traditional Holidays Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/appriciate baybayin.png" />
                <h3>Appreciate Baybayin Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/citizen participation.png" />
                <h3>Citizen Participation Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/gender awareness.png" />
                <h3>Gender Awareness Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Family Life</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/cadet/Family dinner.png" />
                <h3>Family Dinner</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Healthy Food.png" />
                <h3>Healthy Food Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Family Connection.png" />
                <h3>Family Connection Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Managing conflicts.png" />
                <h3>Managing Conflicts Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Family Time.png" />
                <h3>Family Time Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Family Service.png" />
                <h3>Family Service Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Family Communication.png" />
                <h3>Family Communication Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Family Reunion.png" />
                <h3>Family Reunion Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Family Tree.png" />
                <h3>Family Tree Badge</h3>
            </div>
        </div>
    </section>


    <section class="badges-grid">
        <h3>Challenge of Spirituality and Well-Being</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/cadet/Awesome Power.png" />
                <h3>Awesome Power Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Experience the Almighty.png" />
                <h3>Experience the Almighty Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Pursuit of Happiness.png" />
                <h3>Pursuit of Happiness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Positive Body Image.png" />
                <h3>Positive Body Image Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Peer Pressure.png" />
                <h3>Peer Pressure Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Stress Relief.png" />
                <h3>Stress Relief Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Everyday Etiquette.png" />
                <h3>Everyday Etiquette Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Self Awareness.png" />
                <h3>Self-Awareness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/Social Skills.png" />
                <h3>Social Skills Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/A new life plan.png" />
                <h3>A New Life Plan Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of World Community</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/cadet/WAGGGS.png" />
                <h3>WAGGGS Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/stamp out violence.png" />
                <h3>Stamp Out Violence Against Children Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/world food day.png" />
                <h3>World Food Day Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/the better world movement.png" />
                <h3>The Better World Movement Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/world community day.png" />
                <h3>World Community Arts Day Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/mining awareness.png" />
                <h3>Mining Awareness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/end radical discrimination.png" />
                <h3>End Radical Discrimination Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/worldwide narconon community.png" />
                <h3>Worldwide Narconon Community Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/global kids community.png" />
                <h3>Global Kid's Community Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Economic Self-Sufficiency</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/cadet/Start a small business.png" />
                <h3>Start a Small Business Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/start an online magazine.png" />
                <h3>Start an Online Magazine Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/start an etiquette training business.png" />
                <h3>Start an Etiquette Training Business Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/start a tutoring business.png" />
                <h3>Start a Tutoring Business Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/start a logo design business.png" />
                <h3>Start a Logo Design Business Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/become a web developer.png" />
                <h3>Become a Web Developer Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/be a candle maker.png" />
                <h3>Be a Candle Maker Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/start a plant nursery.png" />
                <h3>Start a Plant Nursery Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/looking for a job.png" />
                <h3>Looking for a Job Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Environment</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/cadet/care for the environment.png" />
                <h3>Care for the Environment Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/compost maker.png" />
                <h3>Compost Maker Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/nontoxic cleaning products.png" />
                <h3>Nontoxic-Cleaning Products Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/biodegradable products.png" />
                <h3>Biodegradable Products Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/elinks on the environment.png" />
                <h3>eLinks on the Environment Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/eco friendly ideas.png" />
                <h3>Eco-Friendly Ideas Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/carbon footprint calculator.png" />
                <h3>Carbon Footprint Calculator Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/cadet/eliminate hazardous materials.png" />
                <h3>Eliminate Hazardous Materials Badge</h3>
            </div>
        </div>
    </section>
</section>

