@page "/Junior"
@layout Layout.BlankLayout

<section class="badge-page">
    <nav class="navigation">
        <div class="nav-bg">
            <div class="nav-left">
                <img src="images/GIRL SCOUT LOGO.png" alt="Logo" class="nav-logo">
                <div class="nav-links">
                    <img src="icons/Menu.svg" alt="Menu" class="menu-icon">
                    <a href="/landingPage" class="nav-link">HOME</a>
                    <div class="badgedropdown">
                        <a href="/Junior" class="nav-link">BADGES</a>
                        <div class="badgedropdown-content">
                            <a href="/Twinkler">Twinkler Girl Scout</a>
                            <a href="/Star">Star Girl Scout</a>
                            <a href="/Junior">Junior Girl Scout</a>
                            <a href="/Senior">Senior Girl Scout</a>
                            <a href="/Cadet">Cadet Girl Scout</a>
                        </div>
                    </div>
                    <a href="" class="nav-link">TROOP<br>LOCATOR</a>
                </div>
            </div>
        </div>
    </nav>
    <header class="badge-header star-header">
        <img src="images/Logos/Junior F.png" alt="Star Girl Scout Logo" class="badge-logo" />
        <div>
            <h1>Junior Girl Scout Badges</h1>
            <p class="level-description">
                Junior Girl Scouts explore teamwork, outdoor adventures, and growing independence.
            </p>
        </div>
    </header>

    <section class="promise-law">
        <h2>Scout Promise</h2>
        <p>
            On my honor, I will do my duty <br />
            To God and my country <br />
            To help other people at all times <br />
            And to live by the Girl Scout Promise and Law.
        </p>

        <h2>Scout Law</h2>
        <p>1. A Girl Scout’s honor is to be trusted.</p>
        <p>2. A Girl Scout is loyal.</p>
        <p>3. A Girl Scout is helpful.</p>
        <p>4. A Girl Scout is a friend to all and a sister to every other Girl Scout.</p>
        <p>5. A Girl Scout is courteous.</p>
        <p>6. A Girl Scout respects living things.</p>
        <p>7. A Girl Scout is disciplined.</p>
        <p>8. A Girl Scout is self-reliant.</p>
        <p>9. A Girl Scout is thrifty.</p>
        <p>10. A Girl Scout is clean in thought word and deed.</p>
    </section>

    <section class="badges-grid">
        <h2>Badge Showcase</h2>
        <h3>Challenge of Preparedness</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Junior/Online_Safety.png" />
                <h3>Online Safety Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Junior/Emergency_Contact_List.png" />
                <h3>Emergency Contact List Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Junior/Aseembling_A_First_Aid_Kit.png" />
                <h3>Assembling a First-Aid Kit Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Junior/Emergency_Preparedness.png" />
                <h3>Emergency Preparedness Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Heritage and Citizenship</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/junior/Young_Historian.png" />
                <h3>Young Historian Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Historical_Places.png" />
                <h3>Historical Places Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Filipino_Heritage.png" />
                <h3>Filipino Heritage Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Made_in_the_Philippines.png" />
                <h3>Made in the Philippines Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Heritage Hunt.png" />
                <h3>Heritage Hunt Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/My_Civic_Duty.png" />
                <h3>My Civic Duty Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Filipino_Games.png" />
                <h3>Filipino Games Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Family Life</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/junior/Overcoming_Hardship.png" />
                <h3>Overcoming Hardship Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Family_Tree.png" />
                <h3>Family Tree Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Family_Project.png" />
                <h3>Family Project Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/HouseKeeper_.png" />
                <h3>Housekeeper Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Hospitality_.png" />
                <h3>Hospitality Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Family_Cook.png" />
                <h3>Family Cook Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Arts</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/junior/Dancer_.png" alt="I Clean Planet Earth Badge" />
                <h3>Dancer Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Musician_.png" alt="Discover the Outdoor Badge" />
                <h3>Musician Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Singer.png" alt="Merry Hiker Badge" />
                <h3>Singer Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Needlecraft_.png" alt="I Can Plant Badge" />
                <h3>Needlecraft Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Flower_Arranging.png" alt="I Can Plant Badge" />
                <h3>Flower Arranging Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Bits_and_Pieces.png" alt="I Can Plant Badge" />
                <h3>Bits and Pieces Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Painter_.png" alt="I Can Plant Badge" />
                <h3>Painter Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Photographer_.png" alt="I Can Plant Badge" />
                <h3>Photographer Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Performer_.png" alt="I Can Plant Badge" />
                <h3>Performer Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Spirituality and Well-Being</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/junior/I_Believe.png" />
                <h3>I Believe Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/I_Am_.png" />
                <h3>I am Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/My_Favorite_Holiday.png" />
                <h3>My Favorite Holiday Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Keeping_Fit.png" />
                <h3>Keeping Fit Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Nutrition_Awareness.png" />
                <h3>Nutrition Awareness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Good_Grooming.png" />
                <h3>Good Grooming Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of World Community</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/junior/WAGGGS_Knowledge.png" />
                <h3>WAGGGS Knowledge Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Looking_Wide.png" />
                <h3>Looking Wide Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Time_Capsule.png" />
                <h3>Time Capsule Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/World_Kindness.png" />
                <h3>World Kindness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/World_Peace.png" />
                <h3>World Peace Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Unity_In_Community.png" />
                <h3>Unity in Community Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Economic Self-Sufficiency</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/junior/Income_Generating.png" />
                <h3>Income Generating Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Herb_And_Vegetable.png" />
                <h3>Herb and Vegetable Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Potpourri_Producer.png" />
                <h3>Potpourri Producer Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Snack_Maker.png" />
                <h3>Snack Maker Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Embroider.png" />
                <h3>Embroider Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Weaver.png" />
                <h3>Weaver Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Knitter.png" />
                <h3>Knitter Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Breaded_Accessories_Maker.png" />
                <h3>Breaded Accessories Maker Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Postcard_Maker.png" />
                <h3>Postcard Maker Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Environment</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/junior/God_In_Nature.png" />
                <h3>God in Nature Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Explorer_.png" />
                <h3>Explorer Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Gardener_.png" />
                <h3>Gardener Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/junior/Camper_.png" />
                <h3>Camper Badge</h3>
            </div>
        </div>
    </section>
</section>
