@page "/Senior"
@layout Layout.BlankLayout

<section class="badge-page">
    <header class="badge-header star-header">
        <img src="images/Logos/Senior F.png" alt="Star Girl Scout Logo" class="badge-logo"  />
        <div>
            <h1>Senior Girl Scout Badges</h1>
            <p class="level-description">
                Senior Girl Scouts focus on leadership, service, and preparing for future opportunities.
            </p>
        </div>
    </header>

    <section class="promise-law">
        <h2>Scout Promise</h2>
        <p>
            On my honor, I will do my duty <br />
            To God and my country <br />
            To help other people at all times <br />
            And to live by the Girl Scout Promise and Law.
        </p>

        <h2>Scout Law</h2>
        <p>1. A Girl Scout’s honor is to be trusted.</p>
        <p>2. A Girl Scout is loyal.</p>
        <p>3. A Girl Scout is helpful.</p>
        <p>4. A Girl Scout is a friend to all and a sister to every other Girl Scout.</p>
        <p>5. A Girl Scout is courteous.</p>
        <p>6. A Girl Scout respects living things.</p>
        <p>7. A Girl Scout is disciplined.</p>
        <p>8. A Girl Scout is self-reliant.</p>
        <p>9. A Girl Scout is thrifty.</p>
        <p>10. A Girl Scout is clean in thought word and deed.</p>
    </section>

    <section class="badges-grid">
        <h2>Badge Showcase</h2>
        <h3>Challenge of Preparedness</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Senior/Prepared_At_Home.png" />
                <h3>Prepared at Home Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Personal_Safety_.png" />
                <h3>Personal Safety Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Public_Safety.png" />
                <h3>Public Safety Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Outdoor_Safety.png" />
                <h3>Outdoor Safety Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Ham_Radio.png" />
                <h3>Ham Radio Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Home_Nurse.png" />
                <h3>Home Nurse Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Fire_Preparedness.png" />
                <h3>Fire Preparedness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Senior/Typhoon_Preparedness.png" />
                <h3>Typhoon Preparedness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Senior/Earthquake_Preparedness.png" />
                <h3>Earthquake Preparedness Badge</h3>
            </div>
        </div>
    </section>
    <section class="badges-grid">
        <h3>Challenge of Heritage and Citizenship</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/senior/Proud_To_be_a_Filipino.png" />
                <h3>Proud to be a Filipino Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Chronicler.png" />
                <h3>Chronicler Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Customs and Traditions.png" />
                <h3>Customs and Traditions Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/National Artist and Inventors.png" />
                <h3>National Artist and Inventors Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/National Symbols.png"/>
                <h3>National Symbols Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/National Landmark.png" />
                <h3>National Landmarks Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Community Service.png" />
                <h3>Community Service Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Community Development.png" />
                <h3>Community Deployment Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/My Ancestors.png" />
                <h3>My Ancestors Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Family Life</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/senior/A Gift of the Heart.png" />
                <h3>A Gift of the Heart Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/My Family and I.png" />
                <h3>My Family and I Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Family Adventure.png" />
                <h3>Family Adventure Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Bridging the Gap.png" />
                <h3>Bridging the Gap Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Family Outreach.png" />
                <h3>Family Outreach Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Recognizing a Childs Needs.png" />
                <h3>Recognizing a Child's Needs Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Family Links.png" />
                <h3>Family Links Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Arts</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/senior/Pressed and Dried Flowers.png" />
                <h3>Pressed and Dried Flowers Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Dance to the Rhythm.png" />
                <h3>Dance to the Rhythm Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Music Appreciation.png" />
                <h3>Music Appreciation Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Musical Instrument Appreciation.png" />
                <h3>Musical Instrument Appreciation Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/I Love to Sing.png" />
                <h3>I Love to Sing Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Dramatic Performer.png" />
                <h3>Dramatic Performer Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/I Love Literature.png" />
                <h3>I Love Literature Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/I Love Visual Arts.png" />
                <h3>I Love Visual Arts Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Spirituality and Well-Being</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/senior/My Spiritual Life.png" />
                <h3>My Spiritual Life Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/A Look at Myself.png" />
                <h3>A Look at Myself Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Growing Up.png" />
                <h3>Growing Up Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/I Love My Body.png" />
                <h3>I Love My Body Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/I am Thankful.png" />
                <h3>I Am Thankful Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Differences and Similarities.png" />
                <h3>Differences and Similarities Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of World Community</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/senior/GSP and WAGGGS Surfer.png" />
                <h3>GSP and WAGGGS Surfer Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Harmony and Diversity.png" />
                <h3>Harmony and Diversity Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Twinning.png" />
                <h3>Twinning Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Links of Unity.png" />
                <h3>Links of Unity Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/International Traveler.png" />
                <h3>International Traveler Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Relating with Others.png" />
                <h3>Relating with Others Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Economic Self-Sufficiency</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/senior/Money Management.png" />
                <h3>Money Management Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Scouts Entreprenurial Endeavor for Development.png" />
                <h3>Scouts Entrepreneurial Endeavor for Development Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Ornamental Plants Seedlings Propagation.png" />
                <h3>Ornamental Plant/Seedlings Propagation Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Handicraft Production.png" />
                <h3>Handicrafts Production Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Preserved Foods Production.png" />
                <h3>Preserved Foods Production Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Cooked Food Production.png" />
                <h3>Cooked Food Production Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Needlework Production.png" />
                <h3>Needlework Production Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Candle Making.png" />
                <h3>Candle Making Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Soap Making.png" />
                <h3>Soap Making Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Environment</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/senior/We Are Connected.png" />
                <h3>We are Connected Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/In the Open Air.png" />
                <h3>In the Open Air Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Recycling.png" />
                <h3>Recycling Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Ecologist.png" />
                <h3>Ecologist Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Eco Good Turns.png" />
                <h3>Eco Good Turns Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Outdoor Adventure.png" />
                <h3>Outdoor Adventure Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/senior/Outdoor Cook.png" />
                <h3>Outdoor Cook Badge</h3>
            </div>
        </div>
    </section>
</section>

