@page "/Star"
@layout Layout.BlankLayout

<section class="badge-page">
    <nav class="navigation">
        <div class="nav-bg">
            <div class="nav-left">
                <img src="/Images/GIRL SCOUT LOGO.png" alt="Logo" class="nav-logo">
                <div class="nav-links">
                    <img src="icons/Menu.svg" alt="Menu" class="menu-icon">
                    <a href="/landingPage" class="nav-link">HOME</a>
                    <div class="badgedropdown">
                        <a href="/Star" class="nav-link">BADGES</a>
                        <div class="badgedropdown-content">
                            <a href="/Twinkler">Twinkler Girl Scout</a>
                            <a href="/Star">Star Girl Scout</a>
                            <a href="/Junior">Junior Girl Scout</a>
                            <a href="/Senior">Senior Girl Scout</a>
                            <a href="/Cadet">Cadet Girl Scout</a>
                        </div>
                    </div>
                    <a href="" class="nav-link">TROOP<br>LOCATOR</a>
                </div>
            </div>
        </div>
    </nav>
    <header class="badge-header star-header">
        <img src="images/Logos/Star F.png" alt="Star Girl Scout Logo" class="badge-logo" />
        <div>
            <h1>Star Girl Scout Badges</h1>
            <p class="level-description">
                Star Girl Scouts shine bright in skills, leadership, and friendship.
            </p>
        </div>
    </header>

    <section class="promise-law">
        <h2>Star Scout Promise</h2>
        <p>I Promise to do my best to love God and my country, To help other people everyday, Especially those at home.</p>

        <h2>Star Scout Law</h2>
        <p>A Star Scout is Truthful.</p>
        <p>A Star Scout is Obedient.</p>
    </section>

    <section class="badges-grid">
        <h2>Badge Showcase</h2>
        <h3>Challenge of Preparedness</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/star/Star_Aider.png" />
                <h3>Star Aider Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Keeping_Safe.png" />
                <h3>Keeping Safe Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Heritage and Citizenship</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/star/Folklore_.png"/>
                <h3>Folklore Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Good_Citizen.png" />
                <h3>Good Citizen Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Song_and_Dance.png" />
                <h3>Song and Dance Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/People_and_Place.png" />
                <h3>People and Place Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Family Life</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/star/Home_Safety.png"/>
                <h3>Home Safety Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Hostess_.png" />
                <h3>Hostess Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Home_Maker.png" />
                <h3>Home Maker Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Happy_Familyy.png" />
                <h3>Happy Family Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Arts</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/star/Reader_.png" alt="I Clean Planet Earth Badge" />
                <h3>Reader Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Performance_.png" alt="Discover the Outdoor Badge" />
                <h3>Performance Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Busy_bee.png" alt="Merry Hiker Badge" />
                <h3>Busy Bee Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Pen_and_Ink.png" alt="I Can Plant Badge" />
                <h3>Pen and Ink Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Minstrel_.png" alt="I Can Plant Badge" />
                <h3>Minstrel Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Fun_with_Color.png" alt="I Can Plant Badge" />
                <h3>Fun with Color Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Spirituality and Well-Being</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/star/My_Creator.png" />
                <h3>My Creator Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/My_Hobby.png" />
                <h3>My Hobby Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/This_is_Me.png" />
                <h3>This is Me Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Happiness_.png" />
                <h3>Happiness Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Praise_God.png" />
                <h3>Praise God Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of World Community</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/star/Getting_to_know_others.png"/>
                <h3>Getting to Know Others Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/One_Family.png"/>
                <h3>One Family Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Economic Self-Sufficiency</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/star/Troop_Fund.png" />
                <h3>Troop Fund Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Make_and_Do.png" />
                <h3>Make and Do Badge</h3>
            </div>
        </div>
    </section>

    <section class="badges-grid">
        <h3>Challenge of Environment</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/star/Look_Out.png" />
                <h3>Look Out Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Cook_Out.png"  />
                <h3>Cook Out Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Walk_Out.png"  />
                <h3>Walk Out Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Meet_Out.png"  />
                <h3>Meet Out Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/star/Hike_Out.png"  />
                <h3>Hike Out Badge</h3>
            </div>
        </div>
    </section>
</section>
