@page "/Twinkler"
@layout Layout.BlankLayout

<section class="badge-page">
    <header class="badge-header twinkler-header">
        <img src="Images/Logos/Twinkler F.png" alt="Twinkler Girl Scout Logo" class="badge-logo" />
        <div>
            <h1>Twinkler Girl Scout Badges</h1>
            <p class="level-description">
                Young hearts start their journey here. These girls begin learning values through creative and fun activities.
            </p>
        </div>
    </header>

    <section class="promise-law">
        <h2>Twinkler Scout Promise</h2>
        <p>I love God, my country, and the people around me.</p>

        <h2>Twinkler Scout Law</h2>
        <p>A Twinkler is cheerful, kind, and helpful.</p>
        
    </section>

    <section class="badges-grid">
        <h2>Badge Showcase</h2>
        <h3> Challenge of Spirituality and Well-Being </h3>
        <div class="grid">
            <div class="badge-item">
                <img src="Images/Twinkler/I_Pray.png" />
                <h3>I Pray Badge</h3>
            </div>
            <div class="badge-item">
                <img src="Images/Twinkler/I_Am.png" />
                <h3>I Am Badge</h3>
            </div>
            <div class="badge-item">
                <img src="Images/Twinkler/Neat_and_Healthy.png" />
                <h3>Neat & Healthy Badge</h3>
            </div>
        </div>
    </section>


<section class="badges-grid">
        <h3>Challenge of Familiy Life</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Twinkler/Happy_Family.png" />
                <h3>Happy Family Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Greet_and_Meet.png" />
                <h3>Greet & Meet Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Cheerful_Helper.png" />
                <h3>Cheerful Helper Badge</h3>
            </div>
        </div>
    </section>
    <section class="badges-grid">
        <h3>Challenge of Economic-Self-Sufficiency</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Twinkler/Save_Money.png" />
                <h3>Save Money Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Know_About_Money.png" />
                <h3>Know About Money Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Use_Money_Wisely.png" />
                <h3>Use Money Wisely Badge</h3>
            </div>
        </div>
    </section>
    <section class="badges-grid">
        <h3>Challenge of Environment</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Twinkler/I_Clean_Planet_Earth.png" />
                <h3>I Clean Planet Earth Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Discover_the_Outdoor.png" />
                <h3>Discover the Outdoor Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Merry_Hiker.png" />
                <h3>Merry Hiker Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/I_can_Plant.png" />
                <h3>I Can Plant Badge</h3>
            </div>
        </div>
    </section>
    <section class="badges-grid">
        <h3>Challenge of Preparedness</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Twinkler/Ready_For_Emergency.png" />
                <h3>Ready For Emergency Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Obey_Warnings.png" />
                <h3>Obey Warnings Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Little_First_Aider.png" />
                <h3>Little First Aider Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Personal_Safety.png" />
                <h3>Personal Safety Badge</h3>
            </div>
        </div>
    </section>
    <section class="badges-grid">
        <h3>Challenge of Preparedness</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Twinkler/I_Love_My_Country.png" />
                <h3>I Love My Country Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/My_Heroines.png" />
                <h3>My Heroines Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Filipino_Song_and_Dance.png" />
                <h3>Filipino Song & Dance Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/The_Filipino_Tradition.png" />
                <h3>The Filipino Traditions Badge</h3>
            </div>
        </div>
    </section>
    <section class="badges-grid">
        <h3>Challenge of Arts</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Twinkler/Artwork_.png" />
                <h3>Artwork Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Rhythm_and_Sounds.png" />
                <h3>Rhythm and Sounds Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Drama_.png" />
                <h3>Drama Badge</h3>
            </div>
        </div>
    </section>
    <section class="badges-grid">
        <h3>Challenge of World Community</h3>
        <div class="grid">
            <div class="badge-item">
                <img src="images/Twinkler/My_Friend.png" />
                <h3>My Friend Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/Our_Differences.png" />
                <h3>Our Differences Badge</h3>
            </div>
            <div class="badge-item">
                <img src="images/Twinkler/International_Friendship.png" />
                <h3>International Friendship Badge</h3>
            </div>
        </div>
    </section>
</section>






