@using Microsoft.AspNetCore.Authorization

@page "/adminPage"
@layout Layout.ThemedLayout

<div class="page-wrapper">
    <div class="page-content">
        <h2>Welcome back,</h2>
        <h1>ADMIN</h1>
        <!-- Add more content here -->
    </div>
</div>