.page-wrapper {
    background-image: url("images/BG-Base1.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 2rem; /* Optional: adds space around content */
    color: white; /* Text color for readability */
    height: 93vh;
}

.page-content {
    position: relative; /* Not absolutely positioned */
    justify-items: center;
    align-content: center;
    width: 100%;
    height: 100%;
    color: #254A2A;
    line-height: 1;
}

    .page-content h2{
        font-family: Sora;
    }

    .page-content h1{
        font-family: 'LEMON MILK';
        font-size: 5rem;
    }