
.page-title {
    margin-left: 1rem;
    padding: 2rem;
}

.hero-content {
    padding: 2rem;
    box-sizing: border-box;
    background-image: url(images/BG-Base1.png);
    background-size: cover;
    min-height: 100vh;
}

.pager-addOn {
    position: absolute;
    display: flex;
    gap: 2rem;
    top: 0.5rem;
    margin-left: 4.5rem;
}