

.page-wrapper {
    max-width: 1440px;
    margin: 0 auto;
}

.hero-bg {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.25em 2.5em;
    position: relative;
    top: 0;
    left: 50%; /* Position the left edge of the navigation at the center of the viewport */
    transform: translateX(-50%); /* Shift the navigation left by 50% of its width to center it */
    width: 100%;
    max-width: 1450px; /* Set a maximum width for the navigation */
    box-sizing: border-box;
    white-space: nowrap;
    z-index: 3;
}

.nav-bg {
    align-items: center;
    background: linear-gradient(42deg,rgba(255, 255, 255, 0.85) 0%, rgba(255, 255, 255, 0.25) 100%);
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    width: 100%;
    border-radius: 33px;
}

.nav-left {
    display: flex;
    gap: 1em;
}

.nav-logo {
    display: inline-flex; /* Ensures alignment */
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    width: 3.5rem; /* Set a fixed width */
    object-fit: contain;
    overflow: hidden; /* Prevents content overflow */
    margin-left: 5rem;
}


.nav-links {
    display: flex;
    align-items: center;
}

.nav-link:hover,
.nav-link:focus {
    color: white;
}

.nav-link {
    display: inline-flex; /* Ensures alignment */
    align-items: center; /* Centers text vertically */
    justify-content: center; /* Centers text horizontally */
    width: 9.3rem; /* Set a fixed width */
    height: 3rem; /* Set a fixed height */
    text-align: center; /* Center text for multi-line cases */
    overflow: hidden; /* Prevents content overflow */
}

.nav-link {
    color: #254A2A;
    font-family: "Sora", sans-serif;
    font-size: 0.8rem;
    font-weight: 700;
    text-decoration: none;
    cursor: pointer;
}

.registration-section {
    max-width: 1440px;
}

.registration-placeholder {
    display: flex;
    justify-content: center;
    padding-block: 2rem;
    padding-inline: 3rem;
}

.registration-placeholder-left {
    justify-items: center;
    width: 67%;
    padding: 2rem;
    height: 40rem;
    flex-shrink: 0;
    border-radius: 1.56rem 0rem 0rem 1.56rem;
    border: 1px solid #FFF;
    background: linear-gradient(96deg, rgba(255, 255, 255, 1) -40.67%, rgba(255, 255, 255, 0.1) 10.46%);
    background-blend-mode: exclusion, normal;
    box-sizing: border-box;
}

    .registration-placeholder-left h1 {
        font-family: Figtree;
        font-size: 2rem;
        font-weight: 800;
        color: #254A2A;
        margin: 0;
    }

    .registration-placeholder-left p {
        font-family: Figtree;
    }

.registration-placeholder-right {
    width: 27%;
    height: 40rem;
    flex-shrink: 0;
    border-radius: 0rem 1.56rem 1.56rem 0rem;
    border: 1px solid #FFF;
    background: linear-gradient(-100deg, rgba(255, 255, 255, 0.82) -21.67%, rgba(255, 255, 255, 0.39) 75.46%);
}

.registration-content{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-registration-form{
    justify-items: center;
}

label {
    font-size: 0.7rem;
    color: #254A2A;
    padding-block: 0.3rem;
}
