@inject IJSRuntime JSRuntime
@page "/userPage"
@layout Layout.BlankLayout

@using Microsoft.AspNetCore.Authorization
@using IA_AbansiBabayiSystemBlazor.Service
@inject NavigationManager NavigationManager
@inject IJSRuntime JS

<!DOCTYPE html>


     <h1>You are logged in on user page</h1>


@code {
   
}